
<body>
    <header class="navbar" role="banner">
        <div class="container">
            <div class="navbar__group navbar__group_left">
                <ul class="navbar__main-navigation">
                    <li><a href="/api/v1/<%= API_TOKEN %>/" title="Home"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
                    <% if (me) { %>
                      <li><a href="/api/v1/<%= API_TOKEN %>/user/<%= me.id %>" title="Profile"><i class="fa fa-user" aria-hidden="true"></i><span>Profile</span></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="navbar__group navbar__group_center">
              <ul class="navbar__main-navigation">
                <form method="get" action="/search">
                  <div class="navbar__search">
                    <input type="text" name="search" placeholder="Search..">
                  </div>
                </form>
              </ul>
            </div>


            <div class="navbar__group navbar__group_right">
              <ul class="navbar__main-navigation">
                <% if (me) { %>
                  <li><a href="/api/v1/<%= API_TOKEN %>/logout" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Logout</span></a></li>
                  <li><div class="navbar_tweet_modal">
                  </div></li>
                <% } else { %>
                  <li><a href="/api/v1/public/login" title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i><span>Login</span></a></li>
                  <li><a href="/api/v1/public/user/register" title="Signup"><i class="fa fa-user-plus" aria-hidden="true"></i><span>Sign Up</span></a></li>
                <% } %>
            </ul>
          </div>
        </div>
    </header>
</body>
