
<body>
    <header class="navbar" role="banner">
        <div class="container">
            <div class="navbar__group navbar__group_left">
                <ul class="navbar__main-navigation">
                    <li><a href="/" title="Home"><span>Home</span></a></li>
                    <% if (me) { %>
                      <li><a href="/user/<%= me.id %>" title="Profile"><span>Profile</span></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="navbar__group navbar__group_center">
              <ul class="navbar__main-navigation">
                <form method="get" action="/search">
                  <div class="navbar__search">
                    <input type="text" name="search" placeholder="Search..">
                  </div>
                </form>
              </ul>
            </div>


            <div class="navbar__group navbar__group_right">
              <ul class="navbar__main-navigation">
                <% if (me) { %>
                  <li><a href="/logout" title="Logout"><span>Logout</span></a></li>
                <% } else { %>
                  <li><a href="/login" title="Login"><span>Login</span></a></li>
                  <li><a href="/user/register" title="Signup"><span>Sign Up</span></a></li>
                <% } %>
            </ul>
          </div>
        </div>
    </header>
</body>
