<%- include head.ejs %>

<body>
    <header class="navbar" role="banner">
        <div class="container">
            <div class="navbar__group navbar__group_left">
                <ul class="navbar__main-navigation">

                  <form method="get" action="/search">
                      <input type="text" name="search" placeholder="Search..">
                  </form>



                    <li><a href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
                    <% if (user) { %>
                      <li><a href="/user/<%= user.id %>" title="Profile"><i class="fa fa-user" aria-hidden="true"></i><span>Profile</span></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="navbar__group navbar__group_right">
              <div class="navbar__profile">
                <% if (user) { %>
                  <a class="navbar__profile-logout" href="/logout" title="logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <img class="tweet__image chat-image logout-image"/>
                    <span>Logout</span>
                  </a>
                  <div style = "left-margin: 20px;">
                    <%- include ../components/modals/new_tweet_modal.ejs %>
                  </div>
                <% } else { %>
                  <a class="navbar__profile-login" href="/login" title="login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <img class="tweet__image chat-image login-image"/>
                    <span>Login</span>
                  </a>
                  <a class="navbar__profile-logout" href="/user/register" title="signup">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <img class="tweet__image chat-image logout-image"/>
                    <span>Sign Up</span>
                  </a>
                <% } %>
            </div>
          </div>
        </div>
    </header>
</body>
