<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TJAK NanoTwitter</title>
    <link rel="preload" href="/css/bootstrap/bootstrap.min.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="/css/style.css" as="style" onload="this.rel='stylesheet'">
    <script async type="text/javascript" src="/js/jquery.min.js"></script>
    <script async type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
</head>
