<button id="yours" class="btn-default" type="submit" value="Yours"><p7 id="yours">See Your Timeline</p7></button>
<br>


<script>
$(document).ready(function(){
    $("#yours").click(function(){
          $("#timeline").text("");
    });
});
</script>
