<button id="global" class="btn-default" type="submit" value="Global"><p8 id="global">See the Global Timeline</p8></button>
<br>


<script>
$(document).ready(function(){
    $("#global").click(function(){
        $.get("global", function(data, status){
          $("#timeline").html(data);
        });
    });
});
</script>
