

<% var count1 = parseInt(user.numFollowers); %>

<div class="box">
  <form id="my-form1">
    <button id="new_follow_ajax" class="btn new_follow_ajax__button" type="submit" value="Follow" style="float: right;"><p1>Follow</p1></button>
  </form>
</div>




<style>
  p1 {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
</style>


<script>
    (function($){
        function profile__follow_button( e ){
            $.ajax({
                url: "/user/<%= user.id %>/follow",
                type: 'post',
                data: $(this).serialize(),
                success: function(data) {
                  $("p1").text('Followed');
                  $("p2").text('Unfollow');
                  $("f1").text("<%= count1 + 1 %>");
                  console.log('Followed the user');
                },
                error: function(data) {
                  $("p1").text('Already Followed');
                  console.log('not sent');
                }
            });

            e.preventDefault();
        }

        $('#my-form1').submit( profile__follow_button );
    })(jQuery);
</script>
