<form method="post" action="/user/<%= userData.id %>/follow">
  <div class="box">
    <% if (req.isAuthenticated()) { %>
      <button class="btn new-tweet__button" type="submit" style="float: right;">Follow</button>
    <% } %>
  </div>
</form>
