
<form method="post" action="/user/<%= user.id %>/follow">
  <div class="box">
    <% if (me) { %>
      <button class="btn new-tweet__button" type="submit" style="float: right;">Follow</button>
      <!-- <a.btn.profile__follow-button(href="javascript:void(0)", data-userid=user._id, data-logged=req.user.id,title="follow")> Follow -->
      <button id="profile__follow-button" onclick="follow_button()">FOLLOW</button>
    <% } %>
  </div>
</form>
