<form method="post" action="/api/v1/<%= API_TOKEN %>/tweets/new">
  <div class="box">
    <textarea type="text" name="content" placeholder="What's happening?" maxlength="280"></textarea>
    <br>
    <br>
    <button class="btn new-tweet__button" type="submit" style="float: right;">Tweet</button>
  </div>
</form>
