<form method="delete" action="/user/<%= user.id %>/follow">
  <div class="box">
    <% if (me) { %>
      <button class="btn new-tweet__button" type="submit" style="float: right;">Unfollow</button>
    <% } %>
  </div>
</form>
