
<% var count2 = parseInt(user.numFollowees); %>

<div class="box">
  <form id="my-form2">
    <button class="btn unfollow_ajax__button" type="submit" value="Unfollow" style="float: right;"><p2>Unfollow</p2></button>
  </form>
</div>

<style>
  p2 {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
</style>


<script>
    (function($){
        function profile__unfollow_button( e ){
            $.ajax({
                url: "/api/v1/<%= API_TOKEN %>/user/<%= user.id %>/unfollow",
                type: 'post',
                data: $(this).serialize(),
                success: function(data) {
                  $("p2").text('Unfollowed');
                  $("f1").text("<%= count2 - 1 %>");
                  console.log('Unfollowed the user');
                },
                error: function(data) {
                  console.log('not sent');
                }
            });

            e.preventDefault();
        }

        $('#my-form2').submit( profile__unfollow_button );
    })(jQuery);
</script>
