<%- include layouts/icon.ejs %>

<%- include layouts/header.ejs %>
<% test>
<h1>Welcome To Twitter!</h1>
<a href="/login">Login</a>
<a href="/user/register">Signup</a>

<br>
<% if (req.isAuthenticated()) { %>
<%= req.user.username %>
<br>
<%= req.user.password %>
<% } %>
