<%- include layouts/icon.ejs %>

<%- include layouts/header.ejs %>
<h1>Welcome To Twitter!</h1>


<% if (req.isAuthenticated()) { %>
  <% if (req.user !== null) { %>
    <br>
    <%= req.user.username %>
    <br>
    <%= req.user.password %>
  <% } %>
<% } else { %>
  <br>
  <a href="/login">Login</a>
  <br>
  <a href="/user/register">Signup</a>
<% } %>
