<h1>Login</h1>
<form action="/login" method="post">
    <div>
        <input type="text" name="user[username]" placeholder="Username" />
    </div>

    <div>
        <input type="text" name="user[first_name]" placeholder="First Name" />
    </div>

    <div>
        <input type="text" name="user[last_name]" placeholder="Last Name" />
    </div>


    <div>
        <input type="text" name="user[password]" placeholder="Password" />
    </div>


    <div>
        <input type="text" name="user[password_comfirm]" placeholder="Comfrim Password" />
    </div>



    <input type="submit" value="Submit" />
</form>
