<% layout('layouts/layouts') -%>
<% include layouts/header.ejs -%>


<br>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="box"></div>
    <% include components/tweets.ejs -%>


  </div>
</div>
