<h1>Signup</h1>
<form action="/user/register" method="post">
  <div>
      <input type="text" name="user[username]" placeholder="Username" />
  </div>

  <div>
      <input type="text" name="user[fname]" placeholder="First Name" />
  </div>

  <div>
      <input type="text" name="user[lname]" placeholder="Last Name" />
  </div>

  <div>
      <input type="text" name="user[password]" placeholder="Password" />
  </div>

  <div>
      <input type="text" name="user[password_confirm]" placeholder="Comfrim Password" />
  </div>

  <input type="submit" value="Signup" />
</form>
